*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-weight: 300;
}

body {
  font-size: 16px;
  line-height: 1.55;
  font-family: Roboto !important;
  background: #fafafa !important;
}

#page {
  width: 100%;
  overflow: hidden;
}

html,
body,
#page,
#app,
.hero {
  &:not(.app-active) {
    height: 100%;
  }
}

/**
 * Misc
 */

img {
  max-width: 100%;
  height: auto;
}

/**
 * Grid
 */
@import "global/bootstrap";

.modal {
  z-index: 9999999 !important;
}

.modal-content {
  padding: 25px;
  overflow: hidden;
}

.modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto;

  h3 {
    margin: 0 0 15px;
  }

  input {
    margin: 0 0 20px;
  }
}

/**
 * Forms
 */
input {
  width: 100%;
  line-height: 40px;
  padding: 0 1.2rem;
  border-radius: 1px;
  border: 1px solid #e1e1e3;
}

.form {
  &__wrap {
    margin-bottom: 15px;
  }

  input {
    line-height: 40px;
    padding: 0 1.2rem;
    display: inline-block;
  }
}

button,
input[type=submit],
.button {
  background: #1fbba6;
  border: none;
  color: white;
  border-radius: 0;
  font-size: 14px;
  line-height: 40px;
  padding: 0 1.5rem;
  outline: 0;
  cursor: pointer;
  transition: ease .2s;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 1px;

  &:disabled {
    background: #a2a2a2;
    opacity: 0.8;
    cursor: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &.secondary {
    background: #353535;
    color: white;
  }
}

a {
  color: #1fbba6;
  text-decoration: none !important;

  &:hover,
  &:focus {
    color: #222;
  }
}

.copy-to-clip {
  background: #444;
  color: white;
}

.clickable {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.input-errors {
  > p,
  div {
    margin: -12px 0 20px;
    line-height: 1;
    color: #ca2e2e;
    font-weight: 400;
    font-size: 11px;
  }
}

.table {
  margin: 0;

  > thead > tr > th {
    border: none;
  }
}

.icon-sync2 {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/**
* Type
*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0;
  color: #111;
  font-weight: 400;
}

.heading {
  font-size: 16px;

  /* text-transform: uppercase; */
  font-weight: 500;
  letter-spacing: 0.023em;
  margin-bottom: 15px;
}

small {
  font-size: 11px;
}

/**
 * Header
 */

#header {
  background: white;
  padding: 13px 13px 16px;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;

  .logo {
    width: 158px;
    float: left;
    margin: 16px 0;
  }
}

/**
 * Footer
 */
@import "elements/footer";

/**
 * Hero
 */
.hero {
  background: url(../img/globe2.jpg) center center no-repeat;
  background-size: cover !important;
  position: relative;
  color: white;

  &:after {
    content: '';
    background: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    text-align: center;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  img {
    max-width: 220px;
    margin: 0 0 35px;
  }

  h1, h3, p {
    color: white;
  }

  h1 {
    font-size: 60px;
    font-weight: 100;
    margin: 0 0 35px;
    letter-spacing: -0.04em;
  }

  h3 {
    font-weight: 300;
    margin: 0 0 35px;
  }

  button {
    width: auto;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    padding: 0 30px;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 1px;
    position: relative;

    .icon {
      top: 50%;
      right: 11px;
      transform: translateY(-50%);
      position: absolute;
      transition: ease .3s;
    }

    &:hover .icon {
      right: 8px;
    }

    &.has-icon {
      padding-right: 45px;
    }
  }

  input {
    border: none !important;
    line-height: 54px;
    padding: 0 25px;
  }

  .form {
    &__wrap {
      .row {
        margin-bottom: 25px;
      }
    }

    &__message {
      display: block;
      line-height: 1;
      margin-top: 35px;
    }
  }
}

#theApp {
  margin-top: 127px;
}

#tab-navigation {
  padding: 0;
  margin: 0;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 0 15px;
    line-height: 49px;
    font-size: 18px;

    &.active {
      background: white;
    }
  }

  .icon-chevron-right {
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translateY(-50%);
    font-size: 15px;
  }
}

.tabs {
  h1 {
    background: #222;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 49px;
    margin-bottom: 20px;
    letter-spacing: -0.02em;

    .icon {
      margin-right: 8px;
    }
  }

  &__item {
    margin: 0;
    display: none;

    &.active {
      display: block;
    }
  }

  .inner {
    background: white;
    padding: 25.5px;
    margin-bottom: 20px;
  }
}

.balance {
  &__confirmed {
    font-size: 36px;
    margin: 0 0 10px;
    line-height: 1;
    color: #111;
    font-weight: 400;
  }

  &__unconfirmed {
    margin-bottom: 2px;
  }

  &__usdequiv {
    margin-bottom: 15px;
  }
}

#overview {
  background: #efefef !important;
  color: #222;
  padding: 30px;
  position: relative;

  h2 {
    color: white;
  }

  button {}

  .icon-sync2 {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    z-index: 99;
  }
}

#something-loading {
  background: #1fbba6;
  color: white;
  z-index: 999;
  text-align: center;
  font-size: 19px;
  padding: 18px;
  margin: 35px 0 -35px;
}

/**
 * Addresses
 */
#addresses,
#transactions {}

#address-list {
  margin: 0 0 20px;
}

.address-info {
  padding: 1rem;
  border: 1px solid #f1f1f3;
}

.address {
  &__item {
    background: white;
    padding: 1rem;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  &__item-send {
    font-size: 13px;
    display: block;
    clear: both;
    margin: 10px 0 0;
    background: #f6f6f6;
    padding: 10px;

    input[type=text],
    input[type=password] {
      font-size: 11px;
      line-height: 30px;
      height: 30px;
      margin-bottom: 5px;
      padding: 0 1rem;
    }

    button {
      font-size: 13px;
      padding: 0 10px;
      line-height: 25px;
    }

    h3 {
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}

.wallet-error {
  background: #ca2e2e;
  margin: 0 0 20px;
  padding: 5px 10px;
  color: white;
  font-weight: 300;
}

.wallet-address {
  background: #fafafa;
  box-shadow: none;
  border: 1px solid #e1e1e3;
  color: #a2a2a2;
}

.wallet-status {
  float: right;
  margin-right: -16px;
  padding: 0 20px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.4);
}

.wallet-watch {
  color: white;
  background: #ca2e2e;
}

/**
 * Transactions
 */
.transactions {
  list-style: none;
  font-size: 13px;
  padding: 0 0 10px;
  line-height: 1;

  &__header {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
  }
}

.transaction {
  margin-bottom: 7px;
  font-size: 15px;

  &__type {
    background: #222;
    color: white;
    padding: 3px 5px;
    font-size: 8px;
    vertical-align: middle;

    &-Received {
      background: green;
    }
  }
}

@import "elements/ticker";
@import "elements/posts";
@import "fonts";
@import "keyframes";