*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 100;
}

body {
  font-size: 16px;
  line-height: 1.55;
  background: #fafafa !important;
}

#page {
  width: 100%;
  overflow: hidden;
}

html,
body,
#page,
#app,
.hero {
  height: 100%;
}

/**
 * Misc
 */

img {
  max-width: 100%;
  height: auto;
}

/**
 * Grid
 */
@import "global/bootstrap";

/**
 * Forms
 */
input {
  width: 100%;
  line-height: 40px;
  padding: 0 1.2rem;
}

.form {
  &__wrap {
    margin-bottom: 15px;
  }

  input {
    line-height: 40px;
    padding: 0 1.2rem;
    display: inline-block;
  }
}

button,
input[type=submit],
.button {
  background: #1fbba6;
  border: none;
  color: white;
  border-radius: 0;
  font-size: 14px;
  line-height: 40px;
  padding: 0 1.2rem;
  outline: 0;
}

/**
 * Type
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin-top: 0;
  color: #111;
  font-weight: 400;
}

.heading {
  font-size: 16px;

  /* text-transform: uppercase; */
  font-weight: 500;
  letter-spacing: 0.023em;
  margin-bottom: 15px;
}

/**
 * Header
 */

#header {
  background: white;
  padding: 13px 13px 16px;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;

  .logo {
    width: 158px;
    float: left;
    margin: 16px 0;
  }
}

/**
 * Footer
 */
.footer,
footer {
  margin-top: 35px;
  color: #888;
}

/**
 * Hero
 */
.hero {
  background: url(../img/globe2.jpg) center center no-repeat;
  background-size: cover !important;
  position: relative;
  color: white;

  &:after {
    content: '';
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    text-align: center;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  h1, h3, p {
    color: white;
  }

  h1 {
    font-size: 60px;
    font-weight: 100;
    margin: 0 0 35px;
  }

  h3 {
    font-weight: 300;
    margin: 0 0 35px;
  }

  button {
    width: 250px;
    display: inline-block;
    text-align: center;
  }

  input {
    border: none !important;
  }

  .form {
    &__wrap {
      .row {
        margin-bottom: 25px;
      }
    }

    &__message {
      display: block;
      line-height: 1;
      margin-top: 35px;
    }
  }
}

#theApp {
  margin-top: 127px;
}

#something-loading {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffcc00;
  color: #222;
  z-index: 999;
  text-align: center;
  font-size: 19px;
  padding: 18px;
}

/**
 * Addresses
 */
#addresses,
#transactions {
  padding: 16px;
  padding: 1rem;
}

#address-list {
  margin: 0 0 20px;
}

.address-info {
  padding: 1rem;
  border: 1px solid #f1f1f3;
}

.address {
  &__item {
    background: white;
    padding: 1rem;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  &__item-send {
    font-size: 13px;
    display: block;
    clear: both;
    margin: 10px 0 0;
    background: #f6f6f6;
    padding: 10px;

    input[type=text],
    input[type=password] {
      font-size: 11px;
      line-height: 30px;
      height: 30px;
      margin-bottom: 5px;
      padding: 0 1rem;
    }

    button {
      font-size: 13px;
      padding: 0 10px;
      line-height: 25px;
    }

    h3 {
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}

/**
 * Transactions
 */
.transactions {
  list-style: none;
  font-size: 13px;
  padding: 0 0 10px;
  line-height: 1;

  &__header {
    display: block;
    margin: 0 0 10px;
    font-weight: bold;
  }
}

.transaction {
  margin-bottom: 7px;
  font-size: 15px;

  &__type {
    background: #222;
    color: white;
    padding: 3px 5px;
    font-size: 8px;
    vertical-align: middle;

    &-Received {
      background: green;
    }
  }
}

/**
 * Price Ticker
 */

.ticker {
  width: 318px;
  float: right;
  padding: 10px 17px;
  margin: -16px 0;
  border-left: 1px solid #f1f1f3;
  border-right: 1px solid #f1f1f3;

  .percentage-down {
    color: red;
  }

  .percentage-up {
    color: green;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      width: 33.33333%;
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 11px !important;
    }

    &:last-of-type {
      border-top: 1px solid #f1f1f3;
      clear: both;
      overflow: hidden;
      margin: 0 -17px -10px;
      padding: 10px 15px;
    }
  }

  &__currency {
    width: 50% !important;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px !important;

    span {
      font-size: 23px;
      display: block;
      font-weight: 100;
    }
  }
}